body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

nav {
    background: #111;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 50px;
}

.btn {
    background: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.gallery img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}
